
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

html,
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    padding: 50px;
}

.section1{
    display: flex;
    gap:20px;

}

.section1 > div {
    display: flex;
    
    
}

.content{
    width: 250px;
    padding: 20px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-right: 2px solid brown;    
    background-color: #FCD;

}

.expired{
    font-weight: 700;
    font-size: 14px;
}

.mainContent{
    font-weight: bold;
    color: brown;
    margin-bottom: 10px;
    font-size: 16px;
}

.button{
    width: 100px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    background-color: #FCD;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: brown;
    color: white;
}
